* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: rgb(68, 68, 68);
    font-weight: 300;
    background: #f8f8f8;
}

h2 {
    font-family: 'Bowlby One SC';
}

img {
    width: 100%;
}

a:hover {
    transform: scale(1.5);
}

.header-container {
    width: 100%;
    margin: 0 auto;
    padding: 10px 5% 5%;
    background-color: #2f3363;
}
#top {
    color: white;
}

.header-container p {
    color: white;
}

.nav-items {
    list-style: none;
    padding-left: 0;
}

.nav-items li {
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px 10px;
    padding: 5px 10px 10px 10px;
    background-color: #e0e2ff;
}

.main-container {
    width: 90%;
    margin: 0 auto;
}

.profile-container {
    font-size: 1.2rem;
    margin-top: 40px;
}

.profile-img {
    align-content: center;
    width: 75%;
    margin-bottom: 40px;
}

.project-section {
    margin-top: 20%;
}

.project {
    margin-bottom: 15%;
}

.skills-container {
    margin-top: 50px;
    margin-bottom: 10%;
}
.skills-container img {
    margin-bottom: 30px;
}

.skills-container li {
    display: block;
    list-style: none;
    background-color: rgb(58, 58, 58);
    color: white;
    border-radius: 5px;
    margin: 10px;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
}


.footer-container {
    width: 100%;
    margin:  auto;
    padding: 10px 5% 2rem;
    background-color: #dfdfdf;
}

.contact {
    font-size: 1.2rem;
    margin: 0 auto;
}

.contact p {
    margin-bottom: 1.5rem;
}

#footer-divider {
    border-top: 1px solid rgb(197, 197, 197);
}

.footer-section{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.footer-item {
    font-size: .8rem;
    font-weight:bold;
    color:rgb(68, 68, 68);
}

.footer-item, a, a:visited {
    color:rgb(68, 68, 68);
    text-decoration:none;
}

.main-nav.footer {
    display: none;
}


/* =====================
    Media Queries
===================== */

@media screen and (min-width: 768px) {
    
    .nav-items {
        display:flex;
        flex-direction: row;
        justify-content: center;
    }
    .nav-items li {
        background-color: transparent;
    }

    .nav-items.top a {
        color: white;
        transform: scale (1.5);
    }


    .profile-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 20px;
        text-align: left;
        font-size: 1.2rem;
    }

    .project p {
        margin: 0 40px;
    }
    .profile-img {
        width: 40%;
        margin-bottom: 0;
    }
    
    .projects-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0px;
    }
    .project {
        width: 49%;
    }

    .skills-container {
        display: flex;
        align-items: center;
        gap: 20px;
        text-align: left;
        font-size: 1.2rem;    
    }

    .skills-item li {
        display: inline-block;
        flex-wrap: wrap;
        font-size: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .skills-container p {
        width: 90%;
        margin: 0 auto;
    }

    .skills-container img {
        width: 45%;
    }

    .skills-item {
        display: block;
        text-align: center;
    }

    .contact {
        max-width: 75%;
    }
    .main-nav.footer {
        display: block;
        font-size: .8rem;
    }

    .footer-section{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
    }
    

    .footer-item.top {
        display:none;
    }
    
}

@media screen and (min-width: 1024px) {
    
    .top-menu {
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
    }
    
    .profile-container {
        align-items:flex-start;
        gap: 40px;
    }
    .project {
        width: 32%;
    }
    .project p {
        margin: 0 20px;
    }
    .contact {
        max-width: 60%;
    }
}