* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: rgb(68, 68, 68);
    font-weight: 300;
    background: #f7f7f7;
}

img {
    width: 100%;
}


.nav-items {
    list-style: none;
    padding-left: 0;
}

.nav-items li {
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px 10px;
    padding: 5px 10px 10px 10px;
    background-color: #ffffff;
}

.main-container {
    width: 90%;
    margin: 0 auto;
}

.profile-img {
    align-content: center;
    width: 60%;
}

.project-section {
    margin-top: 20%;
}

.project {
    margin-bottom: 15%;
}


.footer-container {
    width: 100%;
    margin: 0 auto;
    padding: 10px 5% 5px;
    background-color: #dfdfdf;
}

#footer-divider {
    margin: 40px 10px 10px;
    border-top: 1px solid rgb(197, 197, 197);

}

.footer-section{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.footer-item {
    font-size: .8rem;
    font-weight:bold;
    color:rgb(68, 68, 68);
}

.footer-item, a, a:visited {
    color:rgb(68, 68, 68);
    text-decoration:none;
}


/* =====================
    Media Queries
===================== */